.psection8-container {
    padding: 10% 4% 5% 4%;
    width: 92%;
    background: rgba(251, 251, 251, 0.75);
    text-align: center;
}

.psection8-container>h1 {
    font-family: 'JosefinBold';
    font-size: 450%;
    margin: 0;
    margin-bottom: 5%;
}

.psection8-container>p {
    font-family: 'WorkSinLight';
    font-size: 150%;
    line-height: 150%;
    margin: 0;
}

.product-feature-section8 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;

}

.psection8-block {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    text-align: center;
    height: 450px;
}

.psection8-block>h4 {
    font-family: 'JosefinBold';
    font-size: 125%;
    margin: 0;
    margin-top: 30%;
    margin-bottom: 20%;
}

.psection8-block>p {
    font-family: 'WorkSinRegular';
    font-size: 92%;
    line-height: 160%;
}

.psection8-block > h4 >span {
    color: transparent;
}

.psection8-block>img {
    height: 100px;
}

@media screen and (max-width: 1024px) {

    .psection8-container {
        padding: 10% 5% 5% 5%;
        width: 90%;
        background: rgba(251, 251, 251, 0.75);
        text-align: center;
    }

    .psection8-block {
        width: 40%;
        height: 500px;
    }

    .psection8-block > h4 {
        font-size: 200%;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .psection8-block > p {
        font-size: 150%;
    }
}

@media screen and (max-width: 900px) {
    .psection8-container {
        padding: 15% 4% 0% 4%;
        width: 92%;
        background: rgba(251, 251, 251, 0.75);
        text-align: center;
    }

    .psection8-container > h1 {
        font-size: 400%;
    }

    .psection8-block > h4 {
        font-size: 200%;
        margin-top: 20%;
        margin-bottom: 5%;
    }

    .psection8-block > p {
        font-size: 130%;
    }
}

@media screen and (max-width: 500px) {

    .psection8-container {
        padding: 20% 4% 10% 4%;
        width: 92%;
        background: rgba(251, 251, 251, 0.75);
        text-align: center;
    }

    .product-feature-section8 {
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .psection8-container > h1 {
        font-size: 250%;
    }

    .psection8-container > p {
        font-size: 100%;
        font-family: 'WorkSinLight';
    }

    .psection8-block {
        width: 70%;
        align-items: center;
        padding-bottom: 15%;
        height: auto;
        padding-top: 15%;
    }

    .psection8-block > h4 {
        font-size: 150%;
        margin-top: 5%;
    }

    .psection8-block > p {
        font-size: 100%;
        font-family: 'WorkSinLight';
    }
}