.PsectionLogos-container {
    padding: 7% 10%;
    width: 80%;
    background: #ffff;
}

.img-sub-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-sub-container > div {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.img-sub-container > div > img {
    width: 25%;
    height: auto;
}

.img-sub-container > img {
    width: 67%;
    padding-left: 15%;
    padding-bottom: 5%;
}

@media screen and (max-width: 1024px) {
    .img-sub-container {
        padding-top: 5%;
    }

    .img-sub-container > img {
        width: 70%;
        padding-left: 10%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 900px) {

}